@using BookingSystem.Models
@{
    ViewData["Title"] = "Clients";
    var clients = ViewData["Clients"] as IEnumerable<Client>;
    var message = ViewData["message"].ToString();
}
<div style="width: 100%;">
    <div style="width: 50%;float: left;">
        <h1>Clients</h1>
    </div>
    <div style="margin-left: 50%;">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addclientmodel">
            Add a client
        </button>
        <!-- Modal -->
        <div class="modal fade" id="addclientmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add a client</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" asp-controller="Client" id="formaddclient" asp-action="Insert">
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <div class="input-group flex-nowrap">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="addon-wrapping">Client</span>
                                    </div>
                                    <input type="text" id="addclientfirstname0" class="form-control" name="addclientfirstname" placeholder="first name" aria-label="first name" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-indigo" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Client #</th>
            <th scope="col">First Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int row = 1;
            foreach (var client in @clients)
            {
                @Html.Raw("<th scope=\"row\">" + row + "</th>\r\n                    <td id=\"firstname" + row + "\">" + client.firstname + "</td>\r\n                    <td>\r\n                        <button type=\"button\" class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#editclientmodel" + row + "\" id=\"btneditclient" + row + "\" onclick=\"EditClient(this)\">\r\n                            Edit\r\n                        </button>\r\n                        <div class=\"modal fade\" id=\"editclientmodel" + row + "\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"exampleModalLabel\" aria-hidden=\"true\">\r\n                            <div class=\"modal-dialog\" role=\"document\">\r\n                                <div class=\"modal-content\">\r\n                                    <div class=\"modal-header\">\r\n                                        <h5 class=\"modal-title\" id=\"editclientdetails" + row + "\">Edit client details</h5>\r\n                                        <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\">\r\n                                            <span aria-hidden=\"true\">&times;</span>\r\n                                        </button>\r\n                                    </div>\r\n                                    <form method=\"post\" id=\"formeditclient\" action=\"/Client/Edit\">\r\n                                        <div class=\"modal-body\">\r\n                                            <input type=\"hidden\" class=\"form-control\" id=\"editclientid" + row + "\" name=\"editclientid\" value=\"" + client.id + "\" aria-describedby=\"addon-wrapping\">\r\n                                            <div class=\"input-group flex-nowrap\">\r\n                                                <div class=\"input-group-prepend\">\r\n                                                    <span class=\"input-group-text\" id=\"addon-wrapping\">Client</span>\r\n                                                </div>\r\n                                                <input type=\"text\" id=\"editclientfirstname" + row + "\" class=\"form-control\" name=\"editclientfirstname\" placeholder=\"first name\" aria-label=\"first name\" aria-describedby=\"addon-wrapping\">\r\n                                            </div>\r\n                                        </div>\r\n                                        <div class=\"modal-footer\">\r\n                                            <button type=\"button\" class=\"btn btn-secondary\" data-dismiss=\"modal\">Cancel</button>\r\n                                            <button class=\"btn btn-indigo\" type=\"submit\">Submit</button>\r\n                                        </div>\r\n                                    </form>\r\n                                </div>\r\n                            </div>\r\n                        </div>\r\n\r\n                        <button type=\"button\" class=\"btn btn-primary\" data-toggle=\"modal\" id=\"deleteclient" + row + "\" data-target=\"#deleteclientmodel" + row + "\">\r\n                            Delete\r\n                        </button>\r\n\r\n                        <div class=\"modal fade\" id=\"deleteclientmodel" + row + "\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"exampleModalLabel\" aria-hidden=\"true\">\r\n                            <div class=\"modal-dialog\" role=\"document\">\r\n                                <div class=\"modal-content\">\r\n                                    <div class=\"modal-header\">\r\n                                        <h5 class=\"modal-title\" id=\"exampleModalLabel\">Delete client</h5>\r\n                                        <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\">\r\n                                            <span aria-hidden=\"true\">&times;</span>\r\n                                        </button>\r\n                                    </div>\r\n                                    <form method=\"post\" id=\"formdeleteclient\" action=\"/Client/Delete\">\r\n                                        <div class=\"modal-body\">\r\n                                            <input type=\"hidden\" class=\"form-control\" id=\"deleteclientid" + row + "\" name=\"deleteclientid\" value=\"" + client.id + "\" aria-describedby=\"addon-wrapping\">\r\n                                            Are you sure you want to delete this client?\r\n                                        </div>\r\n                                        <div class=\"modal-footer\">\r\n                                            <button type=\"button\" class=\"btn btn-secondary\" data-dismiss=\"modal\">No</button>\r\n                                            <button class=\"btn btn-indigo\" type=\"submit\">Yes</button>\r\n                                        </div>\r\n                                    </form>\r\n                                </div>\r\n                            </div>\r\n                        </div>\r\n                    </td>\r\n                </tr>");
                row = row + 1;
            }
        }
    </tbody>
</table>
<script>
    var message = '@message';
    if (message) {
            alert(message);
    }
</script>