@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome a basic vehicle booking system</h1>
        <h2>How to book a vehicle</h2>
        <p>
            1. Go to clients tab and create clients.
        </p>
        <p>
            2. Go to vehicles tab and create vehicles.
        </p>
        <p>
            3. Go to bookings and create a new booking.
        </p>
    </div>
